.customError{
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.exito{
    color:blue;
    font-weight: bold;
    font-size: 20px;
}
.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.w-100{
    width: 100%;
}

.text-center{
    text-align: center;
}

  .mt-4 {
    margin-top: 1.5rem !important;
  }

  .w-50 {
    width: 50% !important;
  }
  .w-75{
    width: 75%;
  }
  .w-25{
    width: 25%;
  }
 
  h4{
    font-size: 20px;
  }